@model CustomersViewModel
@{
    ViewData["Title"] = "Customer List";
    
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <a class="new-product-button with-icon" asp-action="Create" asp-controller="Users">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M9.99996 4.79169V15.2084M15.2083 10H4.79163" stroke="#0057FC" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        New Farmer
    </a>
    
</div>

<h3>Customer Table</h3>

<table class="table myTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Middle Names</th>
            <th>Role</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.UserName</td>
                <td>@user.LastName</td>
                <td>@user.FirstName</td>
                <td>@user.MiddleNames</td>
                <td>@Model.UserRoles[user.Id]</td>
                
            </tr>
        }
    </tbody>
</table>

